.login-page {
  background: url('../images/mealsWallpaper.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.drinks-page {
  background-image: url('../images/drinksWallpaper.png');
  background-repeat: repeat-y;
  background-size: 99%;
}

.meals-page {
  background-image: url('../images/meals.jpg');
  background-repeat: repeat-y;
  background-size: 99%;
}

.carrousel {
  background-color: red;
  display: flex;
  overflow-x: auto;
  width: 100vw;
}

.carrouselChield {
  flex: none;
  width: 90%;
}

.buttonStart {
  bottom: 0;
  position: fixed;
  right: 35%;
}

.imgRecomendation {
  flex: none;
  width: 76%;
}

.footer1 {
  bottom: 0%;
  position: fixed;
}

.footer2 {
  bottom: 0%;
  position: fixed;
}

.recipe-image {
  width: 100px;
}
